{
    "parser": "babel-eslint",
    "env": {
        "browser": true,
        "node": true,
        "es6": true
    },

    "extends": "eslint:recommended",
    
    "plugins": [
    "react"
  	],

  	parserOptions: {
  	ecmaFeatures: {
  		es6: true,
  		},
  	},

    "rules": {
        "indent": [2, "tab"],
        "max-len": [1, 90, 2, {ignoreComments: true}],
        "no-var": 1,
        "react/jsx-key": 1,
        "no-console": 0
    }
}